<ion-header>

  <ion-navbar color="primary">
      <div class="">
        <img src="assets/img/logo.png" width="25%"> RUTA
      </div>

  </ion-navbar>
</ion-header>

<ion-content padding class="centrado">
    <ion-card>
  <img src="assets/img/ubica.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Activar ubicación
      </ion-card-title>
    <p>
      Para poder detectar ubicación debe conceder los permisos a GeoMap de acceder a su ubicación y activar el GPS.
    </p>
  </ion-card-content>

  <div class="centrado">
  <button  *ngIf="estado" ion-button round outline  icon-start color="secondary" (click)="ubicar()"  ><ion-icon name="locate" padding></ion-icon> Detectar su ubicación</button>
  <button  *ngIf="!estado" ion-button  round outline icon-start color="danger" (click)="desactivado()" ><ion-icon name="locate" padding></ion-icon> Detectar su ubicación</button>
  </div>

</ion-card>
</ion-content>
